* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header start */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
  height: 12vh;
  background-color: rgba(0, 0, 0, 0.678);
}

.header img {
  width: 136px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right a {
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
}

.header-right select {
  padding: 4px 8px;
  border-radius: 4px;
}

/* header end */

/* hero section start */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  color: white;
  background-color: rgba(0, 0, 0, 0.678);
  height: 88vh;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: 900;
}

.para {
  padding: 24px 0;
}

.hero-section form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-section form input {
  width: 360px;
  height: 48px;
  padding-left: 16px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgb(72, 72, 72);
  color: white;
}

.hero-section form button {
  height: 48px;
  width: 200px;
  font-size: 20px;
  background-color: red;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container {
  height: 100vh;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/cc73e7c7-7860-4ef4-8fc8-1baf24569d2f/web/IN-en-20260126-TRIFECTA-perspective_90d714e8-acc9-4253-ab46-ca6b349c1989_large.jpg");
}

/* trending section */
.trending-section {
  padding: 40px 120px;
  color: white;
  background-color: black;
}

.trending-section h2 {
  font-size: 32px;
  font-weight: bold;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 20px; 
}

.card img {
  width: 200px;
  height: auto;
    border-radius: 8px;
}

/* hero section end */
/* Reason section */
.Reason {
  padding: 40px 120px;
  color: white;
  background-color: black;
}

.Reason .card{
    padding: 20px;
    border-radius: 8px;
    height: 280px;
    width: 300px;
    background-color: rgb(10, 4, 54);

}

.Reason .cards .card svg{
  align-self: auto;
  margin-top: 55px;
  margin-left: 120px;
}

/* Reason section end */
/* question section */

.questions{
  padding: 40px 120px;
  color: rgb(232, 226, 226);
  background-color: black;
}

.faq-item{
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.faq-item .faq-question{
  background-color: rgb(41, 40, 44);
  margin-bottom: 10px;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  height: 80px;
  width: 1000px;
  font-size: medium;
  border-radius: 8px;
}

.faq-icon{
  margin-left: 795px;
  display: flex;
  align-items: center;
}

.faq-icon2{
  margin-left: 700px;
   display: flex;
  align-items: center;
}
.faq-icon3{
  margin-left: 765px;
   display: flex;
  align-items: center;
}
.faq-icon4{
  margin-left: 785px;
   display: flex;
  align-items: center;
}
.faq-icon5{
  margin-left: 705px;
   display: flex;
  align-items: center;
}
.faq-icon6{
  margin-left: 740px;
   display: flex;
  align-items: center;
}
/* question section end */